
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Tin Tức</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">TRANG CHỦ</a></li>
                <li class="breadcrumb-item"><a href="#">CÁC TRANG</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">BAO GỒM</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Article Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="/img/articlea.jpg" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Điểm nổi bật</p>
                    <h1 class="display-6">Chất lượng Nguyên liệu</h1>
                </div>
                <p class="mb-4">Sử dụng bột matcha chất lượng cao, thường được nhập khẩu trực tiếp từ Nhật Bản. Nguyên liệu này không chỉ mang lại hương vị tinh tế mà còn giữ được màu xanh tươi sáng đặc trưng của matcha.</p>
                <p class="mb-4">Tiệm có thể cung cấp một loạt các loại bánh matcha như bánh ngọt, bánh quy, bánh mì, và thậm chí là đồ uống matcha như latte hay trà đá matcha. Sự đa dạng này giúp thu hút nhiều đối tượng khách hàng khác nhau.</p>
                <a href="" class="btn btn-primary rounded-pill py-3 px-5">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- Article End -->
